extends ../layouts/main-layout.pug

block content
    h1 My Orders
    if orders && orders.length > 0
        .grid
        each order in orders
            article.card.cart__item
                if order.products && order.products.length > 0
                    .gird
                    each product in order.products
                        article.order__item
                            h3 #{product.title} (#{product.orderItem.qty})
                else
                    h3 No products in order!
            br
    else 
        h2 No orders placed!
